{
  "filter": {
    "and": [
      {
        "regex_matches": [
          {"var": "text"},
          "\\bimportant\\b"
        ]
      },
      {
        "regex_negation_matches": [
          {"var": "text"},
          "\\bunwanted_term\\b"
        ]
      },
      {
        "social_graph": [
          "devingaffney.com",
          "is_in",
          "follows",
        ]
      },
      {
        "text_similarity": [
          {"var": "text"},
          {
            "model_name": "all-MiniLM-L6-v2",
            "anchor_text": "This is an important update"
          },
          ">=",
          0.3
        ]
      },
      {
        "model_probability": [
          {"model_name": "dril_detector"},
          ">=",
          0.9
        ]
      },
      {
        "attribute_compare": [
          {"var": "langs"},
          "==",
          ["en"]
      }
    ]
  },
  "models": [
    {
      "model_name": "news_without_science_model",
      "training_file": "prototype_labeled_dataset.json",
      "feature_modules": [
        {"type": "time_features"},
        {"type": "vectorizer", "model_name": "all-MiniLM-L6-v2"},
        {"type": "post_metadata"}
      ]
    },
    {
      "model_name": "dril_detector",
      "training_file": "dril_detector_dataset.json",
      "feature_modules": [
        {"type": "vectorizer", "model_name": "all-MiniLM-L6-v2"},
      ]
    }
  ],
  "author": {
      "username": "devingaffney.com",
      "password": "app-password"
  }
}
