<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bluesky Timeline App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Bluesky Timeline App">
    <meta property="og:description" content="Summarize all links being shared on your Bluesky feed.">
    <meta property="og:image" content="https://skyreader.cognitivesurpl.us/static/screenshot.png">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://skyreader.cognitivesurpl.us">

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bluesky Timeline App">
    <meta name="twitter:description" content="Summarize all links being shared on your Bluesky feed.">
    <meta name="twitter:image" content="https://skyreader.cognitivesurpl.us/static/screenshot.png">
</head>
<body>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
